body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
}

header {
	background-color: #201658;
	padding: 10px;
	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
	text-align: center;
	color: #fff;
}

header h1 {
	margin: 0;
}

nav {
	background-color: #333;
	padding: 10px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline;
	margin-right: 10px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	padding: 8px 16px;
}

nav ul li a:hover {
	background-color: #45a049;
}

.top {
	overflow: hidden;
	position: fixed;
	width: 100%;
	top: 0;
}

.container {
	display: flex;
	margin: 20px;
	margin-top: 220px;
}

aside {
	width: 30%;
	background-color: #f9f9f9;
	padding: 20px;
	margin-right: 20px;
}

aside h2 {
	margin-top: 0;
}

aside ul {
	list-style-type: none;
	padding: 0;
}

aside li {
	margin-bottom: 10px;
}

main {
	width: 70%;
	background-color: #fff;
	padding: 20px;
}

main h2 {
	margin-top: 0;
}

main ul {
	list-style-type: none;
	padding: 0;
}

main li {
	margin-bottom: 10px;
}

main p {
	margin-bottom: 80px;
	padding: 50px 0;
}

.foto {
	float: right;
  }
  
.clearfix::after {
	content: "";
	clear: both;
	display: table;
  }

button {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #201658;
}

footer {
	background-color: #333;
	padding: 20px;
	text-align: center;
	color: #fff;
	margin-top: 100px;
}
